_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
node_modules
!node_modules/font-awesome/css/
!node_modules/jquery/dist/
!node_modules/normalize.css/
!node_modules/photoswipe/dist/
!node_modules/whatwg-fetch/dist/
package-lock.json
docs/*
