:root {
    --primary-color: #2e2e2e;
    --secondary-color: #212121;
    --highlight-color: #c0c0c0;
    --font-color: #c9c9c9;
    --button-font-color: #ffffff;
    --start-font-color: #ffffff;
    --countdown-color: #ffffff;
    --background-countdown-color: #2e2e2e;
    --cheese-color: #ffffff;
    --panel-color: #212121;
    --hover-panel-color: #2e2e2e;
    --border-color: #eeeeee;
    --box-color: #f8f9fc;
    --gallery-button-color: #ffffff;
    --background-default: transparent;
    --background-admin: transparent;
    --background-chroma: transparent;
    --fontSize: 16px;
    --preview-rotation: 0deg;
}
* {
  -ms-content-zooming: none;
  box-sizing: border-box;
}

html,
body {
  font-size: var(--fontSize);
  width: 100%;
  height: 100%;
}

h1,
h2 {
  font-weight: 300;
}

h1 {
  font-size: 3rem;
  margin: 33px 0;
}

h3 {
  font-weight: normal;
}

.deselect ::selection {
  background: transparent;
  color: inherit;
}

.deselect ::-moz-selection {
  background: transparent;
  color: inherit;
}

.deselect {
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

body {
  padding: 0;
  margin: 0;
  font-weight: 300;
  color: #2b2127;
  font-size: 1em;
  line-height: 1.5;
  overflow: hidden;
}

p.text-muted {
  font-size: 0.8em;
  opacity: 0.7;
}

.accordion a,
.accordion a:active,
.accordion a:focus {
  color: var(--font-color);
  text-shadow: 0 0 5px black;
}

.error p {
  color: red;
}

hr {
  display: block;
  height: 0.1em;
  border: 0;
  border-top: 0.1em solid var(--start-font-color);
  margin: 1em 0;
  padding: 0;
}

hr.small {
  width: 50%;
  display: block;
  margin: auto;
}

.btn {
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  color: var(--button-font-color);
  background: var(--primary-color);
  display: inline-block;
  margin: auto;
  width: 12.5em;
  z-index: 10;
}
.btn--classic, .btn--classic_rounded {
  padding: 20px 40px;
  border: 0 none;
}
.btn--modern {
  width: 5em;
  height: 5em;
  border: 2px solid var(--border-color);
  border-radius: 50%;
  background: radial-gradient(var(--highlight-color), var(--primary-color), var(--secondary-color));
  position: relative;
}
.btn--modern span {
  display: none;
}
.btn--modern .fa,
.btn--modern .material-icons {
  font-size: 2em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btn--modern_squared {
  width: 5em;
  height: 5em;
  box-shadow: 0 0 0.5em var(--highlight-color);
  border-radius: 15%;
  background: var(--primary-color);
  position: relative;
  margin: 5px;
  flex: none;
}
.btn--modern_squared span {
  display: block;
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.btn--modern_squared .fa,
.btn--modern_squared .material-icons {
  font-size: 2em;
  margin: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btn--login {
  padding: 12px 18px;
  width: 50%;
}
.btn:active, .btn:focus, .btn:hover, .btn.focused {
  background: var(--highlight-color);
}

.btn--classic.btn--small,
.btn--classic_rounded.btn--small {
  padding: 12px 40px;
}
.btn--classic.btn--tiny,
.btn--classic_rounded.btn--tiny {
  padding: 3px 6px;
}
.btn--classic.btn--flex,
.btn--classic_rounded.btn--flex {
  width: auto;
}

#start .startInner .btn {
  margin-top: 3px;
}
#start .startInner .btn--classic,
#start .startInner .btn--classic_rounded {
  width: auto;
  margin-top: 3px;
}
@media (max-width: 1024px) {
  #start .startInner .btn.btn--classic, #start .startInner .btn.btn--classic_rounded {
    font-size: 0.8em;
    margin-top: 1px;
    width: 80%;
  }
}

.fs-button.btn--modern_squared span,
.takeChroma.btn--modern_squared span,
.reloadPage.btn--modern_squared span {
  font-size: 0.6em;
}

.livechroma-gallery-btn {
  position: fixed;
  top: 1em;
  left: 1em;
}
.livechroma-gallery-btn.btn--classic, .livechroma-gallery-btn.btn--classic_rounded {
  width: auto;
  padding: 12px 40px;
}
.livechroma-gallery-btn.btn--modern {
  margin: 10px;
}
.livechroma-gallery-btn.btn--modern_squared {
  margin: auto;
}
@media (max-width: 1280px) and (orientation: landscape) {
  .livechroma-gallery-btn {
    position: relative;
    top: 0;
    max-width: 150px;
  }
}

.livechroma-close-btn {
  position: fixed;
  top: 1em;
  right: 1em;
}
.livechroma-close-btn.btn--classic, .livechroma-close-btn.btn--classic_rounded {
  width: auto;
  padding: 12px 40px;
}
.livechroma-close-btn.btn--modern {
  margin: 10px;
}
@media (max-width: 1280px) and (orientation: landscape) {
  .livechroma-close-btn {
    position: relative;
    top: 0;
    max-width: 150px;
  }
}
.livechroma-close-btn.btn--modern_squared {
  margin: auto;
  text-align: center;
}
.livechroma-close-btn.btn--modern_squared span {
  display: none;
  bottom: unset;
}
.livechroma-close-btn.btn--modern_squared .fa,
.livechroma-close-btn.btn--modern_squared .material-icons {
  font-size: 2em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.livechroma.deletebtn {
  display: inline-block;
  visibility: hidden;
}
@media (max-width: 1280px) and (orientation: landscape) {
  .livechroma.btn--classic.takeChroma, .livechroma.btn--classic.reloadPage, .livechroma.btn--classic.deletebtn, .livechroma.btn--classic_rounded.takeChroma, .livechroma.btn--classic_rounded.reloadPage, .livechroma.btn--classic_rounded.deletebtn {
    margin: 0.5em;
    display: block;
  }
  .livechroma.btn--modern.takeChroma, .livechroma.btn--modern.reloadPage, .livechroma.btn--modern.deletebtn, .livechroma.btn--modern_squared.takeChroma, .livechroma.btn--modern_squared.reloadPage, .livechroma.btn--modern_squared.deletebtn {
    margin: auto;
    display: inline-block;
  }
}

.chroma-control-bar .btn--classic#save-chroma-btn, .chroma-control-bar .btn--classic#print-btn, .chroma-control-bar .btn--classic#close-btn,
.chroma-control-bar .btn--classic_rounded#save-chroma-btn,
.chroma-control-bar .btn--classic_rounded#print-btn,
.chroma-control-bar .btn--classic_rounded#close-btn {
  width: auto;
}

.resultInner .btn--modern,
.resultInner .btn--modern_squared {
  display: inline-block;
}
.resultInner .btn--classic,
.resultInner .btn--classic_rounded {
  width: auto;
  padding: 20px 0;
  text-align: center;
  flex-grow: 1;
  max-width: 250px;
  margin: initial;
}

.loading .btn {
  font-size: 0.4em;
}

.sidenav .closebtn {
  width: 1.625em;
  height: 1.625em;
  margin: 0.3em;
  background: radial-gradient(var(--highlight-color), var(--primary-color), var(--secondary-color));
  color: var(--button-font-color);
}
.sidenav .closebtn .fa,
.sidenav .closebtn .material-icons {
  font-size: 0.8em;
}

.btn--modern:active, .btn--modern:focus, .btn--modern:hover, .btn--modern.focused,
.btn--modern_squared:active,
.btn--modern_squared:focus,
.btn--modern_squared:hover,
.btn--modern_squared.focused,
.gallery__close:active,
.gallery__close:focus,
.gallery__close:hover,
.gallery__close.focused,
.gal-action-btn:active,
.gal-action-btn:focus,
.gal-action-btn:hover,
.gal-action-btn.focused {
  opacity: 0.6 !important;
}

.btn--classic.gal-action-btn,
.btn--classic_rounded.gal-action-btn {
  background: var(--secondary-color);
}

.triggerPic,
.triggerCollage,
.closeGallery {
  padding: 0;
  margin: 0;
  width: 1px;
  height: 1px;
}

.buttongroup {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.mail-form-input.btn--modern,
.mail-form-input.btn--modern_squared,
.dependencies-btn.btn--modern,
.dependencies-btn.btn--modern_squared {
  border: 2px solid var(--font-color);
  border-radius: 10px;
  color: var(--button-font-color);
  background: var(--primary-color);
}

.material-icons {
  transform: translate(0, 20%);
}

@media (orientation: portrait) {
  .btn--modern,
  .btn--modern_squared {
    width: 4em;
    height: 4em;
  }
  .btn--modern_squared span {
    font-size: 1em;
  }
  .btn--modern_squared .fa,
  .btn--modern_squared .material-icons {
    font-size: 1.5em;
  }
  .newpic.btn--modern_squared span,
  .newcollage.btn--modern_squared span,
  .imageFilter.btn--modern_squared span {
    font-size: 0.6em;
  }
}
@media (max-width: 1024px) {
  .takePic.btn--classic, .takePic.btn--classic_rounded,
  .takeCollage.btn--classic,
  .takeCollage.btn--classic_rounded {
    padding: 10px 10px;
  }
}
@media (max-width: 767px) {
  .takePic {
    bottom: auto;
  }
}
#loader {
  display: none;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center center;
  color: var(--countdown-color);
  z-index: 100;
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
#loader:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 1;
  transition: opacity 0.5s;
}
#loader.showBackgroundImage:after {
  opacity: 0.5;
}
#loader.open {
  display: flex;
}
#loader .spinner {
  color: var(--cheese-color);
  font-size: 5em;
}

#counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
  font-size: 80vh;
  opacity: 0.1;
}

#counter.tick {
  font-size: 0;
  opacity: 1;
  transition: font-size 1s, opacity 1s;
}

.cheese {
  position: absolute;
  color: var(--cheese-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
  font-size: 3em;
}

.loading {
  position: absolute;
  bottom: 1.5em;
  left: 0;
  z-index: 102;
  font-size: 3.125em;
  text-align: center;
  width: 100%;
}
.loading p {
  margin: 0 0 0.2em;
}
@media (max-width: 767px) {
  .loading {
    bottom: 0.5em;
  }
}

.send-mail {
  z-index: 16777371;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--panel-color);
  color: var(--font-color);
  padding: 25px 15px 15px;
  min-width: 250px;
  display: none;
}

#send-mail-close {
  position: absolute;
  right: 14px;
  top: 14px;
  font-size: 1.75em;
  cursor: pointer;
}

.mail-form-input {
  padding: 15px;
  margin: 12px 0;
  width: 100%;
}

input[type=email] {
  color: var(--font-color);
  background: var(--box-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  width: 100%;
  padding: 0 10px;
}

.pswp__button--close,
.pswp__button--qrcode,
.pswp__button--print,
.pswp__button--print-chroma-keying,
.pswp__button--download,
.pswp__button--custom-download,
.pswp__button--mail,
.pswp__button--playpause,
.pswp__button--share,
.pswp__button--zoom,
.pswp__button--fs,
.pswp__button--delete,
.pswp__button--reload {
  color: var(--gallery-button-color);
  background: transparent !important;
  font-size: 1.625em;
  width: 2.375em;
  height: 1.375em;
}
.pswp__button--close:hover,
.pswp__button--qrcode:hover,
.pswp__button--print:hover,
.pswp__button--print-chroma-keying:hover,
.pswp__button--download:hover,
.pswp__button--custom-download:hover,
.pswp__button--mail:hover,
.pswp__button--playpause:hover,
.pswp__button--share:hover,
.pswp__button--zoom:hover,
.pswp__button--fs:hover,
.pswp__button--delete:hover,
.pswp__button--reload:hover {
  opacity: 1;
}
.pswp__button--close > i,
.pswp__button--qrcode > i,
.pswp__button--print > i,
.pswp__button--print-chroma-keying > i,
.pswp__button--download > i,
.pswp__button--custom-download > i,
.pswp__button--mail > i,
.pswp__button--playpause > i,
.pswp__button--share > i,
.pswp__button--zoom > i,
.pswp__button--fs > i,
.pswp__button--delete > i,
.pswp__button--reload > i {
  position: relative;
  z-index: -1;
}
.pswp__button--close .center,
.pswp__button--qrcode .center,
.pswp__button--print .center,
.pswp__button--print-chroma-keying .center,
.pswp__button--download .center,
.pswp__button--custom-download .center,
.pswp__button--mail .center,
.pswp__button--playpause .center,
.pswp__button--share .center,
.pswp__button--zoom .center,
.pswp__button--fs .center,
.pswp__button--delete .center,
.pswp__button--reload .center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pswp__counter {
  width: 56px;
}

.pswp__top-bar {
  top: 13px;
  padding-right: 30px;
}

.gallery {
  position: fixed;
  width: 0px;
  height: 0px;
  left: 0;
  top: 0;
  background: var(--primary-color);
  overflow: hidden;
  color: var(--font-color);
  transition: width 0.3s, height 0.3s;
  z-index: 1000;
}
.gallery h1 {
  margin: auto;
  text-align: center;
}
.gallery--open {
  width: 100%;
  height: 100%;
  padding: 0;
}
.gallery__inner {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
}
.gallery__header {
  height: auto;
  max-height: 100px;
  width: 100%;
  background: var(--primary-color);
}
.gallery__header > a {
  position: absolute;
  right: 30px;
  top: 13px;
  color: var(--gallery-button-color);
  font-size: 1.875em;
  width: 50px;
  height: 50px;
  background: var(--secondary-color);
  text-align: center;
  line-height: 50px;
}
.gallery__footer {
  width: 100%;
  height: auto;
  max-height: 100px;
  align-self: flex-end;
  bottom: 0;
  margin-top: auto;
  display: flex;
  justify-content: center;
  background: var(--primary-color);
  box-shadow: 0 0 1em var(--highlight-color);
}
.gallery__body {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: center;
}
.gallery__body a {
  display: block;
  width: 19%;
  padding: 0.5em;
  max-width: 500px;
  text-decoration: none;
}
.gallery__body img {
  max-width: 100%;
  list-style: none;
  display: block;
}
.gallery__body figure {
  margin: 0;
  border: 1px solid var(--border-color);
  background-color: var(--secondary-color);
}
.gallery img {
  border: none;
}
.gallery figcaption {
  border: none;
  text-align: center;
  color: var(--font-color);
}

.gallery__reload,
.gallery__close {
  width: 2em;
  height: 2em;
  line-height: 1em;
  margin: 0;
}
.gallery__reload span,
.gallery__close span {
  display: none;
}
.gallery__reload .fa,
.gallery__reload .material-icons,
.gallery__close .fa,
.gallery__close .material-icons {
  font-size: 1em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.gallery__img:active > figure,
.gallery__img:focus > figure,
.gallery__img:hover > figure,
.gallery__img.focused > figure,
.gallery__img:active > img,
.gallery__img:focus > img,
.gallery__img:hover > img,
.gallery__img.focused > img {
  opacity: 0.6 !important;
}

.sidenav {
  width: 100%;
  position: fixed;
  z-index: 1005;
  top: 0;
  bottom: 0;
  right: -100%;
  background: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 60px 30px;
  transition: right 0.5s;
}
@media (min-width: 576px) {
  .sidenav {
    width: 250px;
    right: -250px;
  }
}
.sidenav--open {
  right: 0;
}
.sidenav a {
  text-transform: uppercase;
  margin-bottom: 3px;
  background-color: var(--primary-color);
}
.sidenav a:hover {
  background-color: var(--highlight-color);
}
.sidenav .btn {
  width: 100%;
}
.sidenav .closebtn {
  position: absolute;
  right: 30px;
  top: 0;
  color: var(--font-color);
  font-size: 1.875em;
  width: 50px;
  height: 50px;
  background: var(--primary-color);
  text-align: center;
  line-height: 50px;
}
.sidenav .closebtn:hover {
  background: var(--highlight-color);
}
.sidenav .closebtn.btn--classic_rounded {
  border-radius: 5px;
}
.sidenav .activeSidenavBtn a {
  background-color: var(--highlight-color);
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  background: var(--secondary-color);
}

#blocker {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1499;
  background-color: #ffffff;
  opacity: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#aperture {
  box-sizing: content-box;
  display: none;
  width: 150%;
  padding-bottom: 150%;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1500;
  transform: translate(-50%, -50%);
  border: solid 2000px #000000;
  border-radius: 50%;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 16777372;
  justify-content: center;
  align-items: center;
}
.modal--show {
  display: flex;
}
.modal__body {
  color: #ffffff;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  max-width: 100%;
  padding: 6px;
}
.modal__body * {
  max-width: 100%;
}
#qrCode .modal__body, #qrPswp .modal__body {
  width: 10em;
  background-color: #ffffff;
  color: #252525;
}
#qrCode .modal__body p, #qrPswp .modal__body p {
  margin: 0;
  font-size: 0.6em;
}
#qrCode .modal__body button, #qrPswp .modal__body button {
  font-size: 0.6em;
}

.github-fork-ribbon {
  width: 12.1em;
  height: 12.1em;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  z-index: 10;
  pointer-events: none;
  font-size: 0.8em;
  text-decoration: none;
  text-indent: -999999px;
}
.github-fork-ribbon:before, .github-fork-ribbon:after {
  position: absolute;
  display: block;
  width: 15.38em;
  height: 1.54em;
  top: 3.23em;
  right: -3.23em;
  transform: rotate(45deg);
}
.github-fork-ribbon:hover:before {
  background-color: var(--highlight-color);
}
.github-fork-ribbon:before {
  content: "";
  padding: 0.38em 0;
  background-color: var(--primary-color);
  box-shadow: 0 0.15em 0.23em 0 rgba(0, 0, 0, 0.5);
  pointer-events: auto;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
}
.github-fork-ribbon:after {
  content: attr(data-ribbon);
  color: var(--button-font-color);
  font: 700 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.54em;
  text-decoration: none;
  text-shadow: 0 -0.08em rgba(0, 0, 0, 0.5);
  text-align: center;
  text-indent: 0;
  padding: 0.15em 0;
  margin: 0.15em 0;
  border-width: 0.08em 0;
  border-style: dotted;
  border-color: rgba(255, 255, 255, 0.7);
}

#video--view,
#picture--frame,
#collage--frame {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(var(--preview-rotation));
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}
#video--view.fill,
#picture--frame.fill,
#collage--frame.fill {
  object-fit: fill;
}
#video--view.contain,
#picture--frame.contain,
#collage--frame.contain {
  object-fit: contain;
}
#video--view.cover,
#picture--frame.cover,
#collage--frame.cover {
  object-fit: cover;
}
#video--view.none,
#picture--frame.none,
#collage--frame.none {
  object-fit: none;
}
#video--view.scale-down,
#picture--frame.scale-down,
#collage--frame.scale-down {
  object-fit: scale-down;
}
#video--view.flip-horizontal,
#picture--frame.flip-horizontal,
#collage--frame.flip-horizontal {
  transform: translate(-50%, -50%) rotate(var(--preview-rotation)) scalex(-1);
}
#video--view.flip-vertical,
#picture--frame.flip-vertical,
#collage--frame.flip-vertical {
  transform: translate(-50%, -50%) rotate(var(--preview-rotation)) scaleY(-1);
}

#picture--frame,
#collage--frame {
  display: none;
  z-index: 100;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#ipcam--view {
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: none;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotate(var(--preview-rotation));
}
#ipcam--view.cover {
  background-size: cover;
}
#ipcam--view.streaming {
  background-image: var(--background-url);
}

.flip-horizontal {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
}

.flip-vertical {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
}

.shape--classic_rounded {
  border: 0 none;
  border-radius: 10px;
}

.shape--modern {
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

.shape--modern_squared {
  border: 0 none;
  box-shadow: 0 0 0.5em var(--highlight-color);
  border-radius: 10px;
}

.shape--modern.noborder,
.shape--modern_squared.noborder {
  border: 0 none;
  box-shadow: unset;
}
.shape--modern-s,
.shape--modern_squared-s {
  border-radius: 5px;
}

#wrapper {
  display: none;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  background-image: var(--background-default);
  background-position: center center;
  background-size: cover;
}

#result {
  width: 100%;
  background: center center no-repeat;
  background-size: contain;
  z-index: 2;
}

.resultInner {
  display: flex;
  position: absolute;
  bottom: -15em;
  left: 0;
  right: 0;
  justify-content: center;
  transition: bottom 0.5s;
  z-index: 100;
}
.resultInner .homebtn.btn--classic, .resultInner .homebtn.btn--classic_rounded,
.resultInner .gallerybtn.btn--classic,
.resultInner .gallerybtn.btn--classic_rounded {
  font-size: 0.875em;
  width: 130px;
}
.resultInner .btn.btn--classic_rounded {
  margin-left: 2px;
}
.resultInner.show {
  bottom: 0;
}
.resultInner.show .homebtn {
  position: fixed;
  top: 5px;
  right: 5px;
  bottom: auto;
}
.resultInner.show .gallerybtn {
  position: fixed;
  top: 5px;
  left: 5px;
}
.resultInner.show .gallerybtn.btn--classic_rounded {
  margin-top: auto;
  margin-left: auto;
}

.qr {
  display: none;
  width: 300px;
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
}
.qr > * {
  display: none;
}
.qr.active > * {
  display: block;
}
.qr p {
  margin: 0;
  padding: 0 15px;
  font-size: 1.6em;
}
.qr img {
  width: 100%;
  height: auto;
}
.qr .fa,
.qr .material-icons {
  float: right;
}

.spacer {
  clear: both;
  height: 50px;
  width: 100%;
}

.loaderImage {
  display: none;
  width: 90%;
  height: 90%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  background: center center no-repeat;
  background-size: contain;
}
@media (max-width: 767px) {
  .loaderImage {
    width: 80%;
    height: 80%;
  }
}

.stages {
  display: none;
  height: 100%;
  width: 100%;
}

#start.open {
  display: flex;
  align-items: center;
  justify-content: center;
}
#start .logo_bottom_left {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
#start .logo_bottom_right {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
#start .logo_top_left {
  position: absolute;
  top: 0px;
  left: 0px;
}
#start .logo_top_right {
  position: absolute;
  top: 0px;
  right: 0px;
}
#start .startInner {
  background: rgba(0, 0, 0, 0.5);
  color: var(--start-font-color);
  text-align: center;
  padding: 3rem;
}
#start .startInner.shape--classic_rounded {
  border: 0 none;
  border-radius: 10px;
}
#start .startInner .names {
  margin-top: 2rem;
  margin-bottom: 5rem;
}
@media (max-width: 1024px) {
  #start .startInner {
    padding: 1rem;
  }
  #start .startInner .names {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  #start .startInner p,
  #start .startInner h1,
  #start .startInner h2,
  #start .startInner h3 {
    margin: 0;
    padding: 0 0.9em;
  }
  #start .startInner p {
    font-size: 0.8em;
  }
  #start .startInner h1 {
    font-size: 1.6em;
  }
  #start .startInner h2 {
    font-size: 1.2em;
  }
  #start .startInner h3 {
    font-size: 0.9em;
  }
}
@media (max-width: 800px) {
  #start .startInner .names {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}
#start .gallery-button {
  position: fixed;
  top: 5px;
  left: 5px;
}
#start .gallery-button.btn--classic_rounded {
  margin-top: auto;
  margin-left: auto;
}
#start .fs-button {
  position: fixed;
  top: 5.5rem;
  left: 5px;
}
#start .fs-button.btn--classic_rounded {
  margin-top: auto;
  margin-left: auto;
}
#start .cups-button {
  position: fixed;
  bottom: 5px;
  left: 5px;
}

.btn.btn--classic_rounded,
.gal-action-btn.btn--classic_rounded {
  border-radius: 10px;
}

.sliderImages {
  display: none;
  position: fixed;
  top: 0;
  z-index: 1000000;
  background: #000;
}

.overlay {
  display: none;
  background-color: #000;
  width: 400px;
  height: 200px;
  position: fixed;
  z-index: 1010;
  left: 50%;
  top: 50%;
  right: 0;
  bottom: 0;
}

#gallery .controls a.close_opengal {
  display: none;
  right: 30px;
  top: 30px;
  position: fixed;
  z-index: 10000000;
  font-size: 3.125em;
  text-shadow: 0 2px 0 #000;
  color: #fff;
}

.chroma-control-bar {
  margin-top: 12px;
  text-align: center;
}
@media (max-width: 576px) {
  .chroma-control-bar span {
    display: none;
  }
}

#useBuzzer {
  font-size: 1.75em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
@media (max-width: 1024px) {
  #useBuzzer {
    font-size: 1.25em;
  }
}

.rotaryfocus.focused {
  opacity: 0.6;
}

button.btn--classic {
  border: 1px solid var(--border-color);
}
button.btn--classic_rounded {
  border: 2px solid var(--border-color);
  border-radius: 10px;
}

html,
body {
  height: 100%;
  background: #ffffff;
  margin: 0px;
}

hr,
hr.small {
  display: none;
}

.resultInner {
  display: block;
  position: fixed;
  left: auto;
  width: auto;
  max-width: 90%;
  top: auto;
  margin: 20px;
}
.resultInner.show {
  position: fixed;
  bottom: 0;
}
.resultInner.show .homebtn {
  position: fixed;
  left: 0;
  top: 0;
  bottom: auto;
  margin: 20px;
}
.resultInner.show .gallerybtn {
  position: relative;
  top: auto;
  bottom: 0;
  left: auto;
}

#start .startInner {
  height: 100%;
  width: 100%;
  position: relative;
  background: none;
}
#start .gallery-button {
  position: relative;
  top: auto;
  bottom: 0;
  left: auto;
}
#start .fs-button {
  position: relative;
  top: auto;
  bottom: 0;
  left: 0;
}
#start .cups-button {
  position: fixed;
  left: 5px;
  top: 5px;
  bottom: auto;
}

.divaussen {
  height: 100%;
  position: relative;
}

.divinnen {
  float: right;
}

.divinnen2 {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}

@media (orientation: portrait) {
  .divinnen2 {
    margin-left: auto;
    margin-right: auto;
  }
}
